@page "/cube/{Id:int?}"
@using Solution.MAUI_Blazor.Components
@inject CubeUseCaseGet getCube
@inject AlgorithmUseCaseList algorithmList
@inject NavigationManager navigationManager

<h3>@_cube.Text</h3>

<button @onclick="ShowComponent" class="btn btn-primary">Agregar Algoritmo</button>

<h5>Algoritmos del cubo</h5>
<table class="table">
    <thead>
        <tr>
            <th>Algoritmo</th>
            <th>Descripción</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var algorithm in _list){
            <tr>
                <td>@algorithm.Text</td>
                @if(@algorithm.Description == ""){
                    <td>El algoritmo no tiene una descripción.</td>
                }
                else{
                    <td>@algorithm.Description</td>
                }
                <td>
                    <button class="btn btn-primary">Ver</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button @onclick="Close" class="btn btn-secondary" >Cerrar</button>

<Message @ref="@_errorMessage" Text="@stMessage" eventCallback="Close"/>

<AddAlgorithm @ref="component" Id="@_cube.Id"/>

@code {
    //cube functionality
    [Parameter] public int? Id {get; set;}
    private Cube _cube = new Cube();

    //algorithm
    private List<Algorithm> _list = new List<Algorithm>();
    private AddAlgorithm component = null!;

    //set message
    private Message _errorMessage = null!;
    private string stMessage = "";

    //functions
    protected override void OnParametersSet(){
        try{
            if(Id != null){
                _cube = getCube.Execute(Id.Value);
                _list = algorithmList.Execute(_cube.Id);
            }
        }
        catch (Exception e){
            stMessage = e.Message;
            //_errorMessage.ShowMessage();
        }
    }
    void Close(){
        navigationManager.NavigateTo("/cubelist");
    }
    private void ShowComponent(){
        component.ShowAlgorithm();
    }
}